*{
    box-sizing: border-box;
}

body{
    background-color: #f09b2c;
}

main{
    background-color: lightgray;
    max-width: 62.5em;
    margin-left: auto;
    margin-right: auto;
}

nav a img{
    border: 5px outset #005500;
    background-color: #777;
}

nav a img:hover{
    border: 5px inset #005500;
}

nav a img:active{
    opacity: 50%;
}