* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    background-color: #c0c2c0;
}

main {
    background-color: #c0c0c0;
    display: table;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18em;
}

a {
    text-decoration: none;
}

nav.top,
nav.top a {
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    padding: 0.5em;
    padding-left: 2em;
}

nav.top img {
    background-color: whitesmoke;
    height: 1em;
}

header img {
    width: 100%;
}

nav.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.5em;
    text-align: center;
}

nav.menu a {
    height: 8em;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2em;
    width: auto;
    min-width: 200px;
    margin: 0.25em;
}

nav.menu a span {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 8em;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

nav.menu a span:hover {
    background-color: rgba(153, 153, 153, 0.2);
}

.knapp1 {
    background-image: url("Bilder/Om_hjortboden_knapp.png");
    grid-column: 1;
    grid-row: 1;
}

.knapp2 {
    background-image: url("Bilder/tid_vi_pangar.png");
    grid-column: 2;
    grid-row: 1;
}

.knapp3 {
    background-image: url("Bilder/Om_hjortar.png");
    grid-column: 1;
    grid-row: 2;
}

.knapp4 {
    background-image: url("Bilder/hjortar_vi_minns.png");
    grid-column: 2;
    grid-row: 2;
}


/* på dator */

@media only screen and (min-width: 720px) {
    main {
        max-width: 1000px;
        display: table;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 2px 2px rgb(19, 19, 19);
    }
    nav.menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    nav.menu a {
        height: 8em;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 2em;
        width: 95%;
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .knapp1 {
        grid-column: 1;
        grid-row: 1;
    }
    .knapp2 {
        grid-column: 2;
        grid-row: 1;
    }
    .knapp3 {
        grid-column: 3;
        grid-row: 1;
    }
    .knapp4 {
        grid-column: 4;
        grid-row: 1;
    }
}